/* HERO SECTION */

.hero{

position:relative;

width:100%;

height:calc(100vh - 70px);

overflow:hidden;

}



/* VIDEO FULL */

.hero-video{

position:absolute;

width:100%;

height:100%;

top:0;
left:0;

z-index:1;

}

.hero-video iframe{

width:100%;
height:100%;

object-fit:cover;

border:none;

pointer-events:none;

filter:brightness(0.7);

}



/* SERVICES OVERLAY */

.hero-services{

position:absolute;

z-index:2;

left:8%;

top:50%;

transform:translateY(-50%);

}



/* SERVICE TEXT */

.hero-service{

font-size:64px;

font-weight:300;

margin:10px 0;

color:transparent;

-webkit-text-stroke:1px white;

cursor:pointer;

transition:0.4s;

}



/* HOVER EFFECT */

.hero-service:hover{

color:white;

transform:translateX(20px);

}



/* MOBILE */

@media(max-width:900px){

.hero-service{

font-size:36px;

}

}
