/* RESET */

*{

margin:0;
padding:0;
box-sizing:border-box;

}



/* BODY */

body{

background:black;
color:white;
font-family:Arial, Helvetica, sans-serif;

}



/* NAVBAR */

.navbar{

position:fixed;

top:0;
width:100%;

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 40px;

background:black;

z-index:999;

border-bottom:1px solid #222;

}



.logo{

font-size:18px;
letter-spacing:3px;
text-decoration:none;
color:white;

}



.nav-right{

display:flex;
gap:30px;
align-items:center;

}



.nav-right a{

color:white;
text-decoration:none;
font-size:14px;
letter-spacing:1px;

}



.nav-right a:hover{

opacity:0.6;

}



/* DROPDOWN */

.dropdown{

position:relative;

}



.dropdown-content{

position:absolute;

top:30px;

background:black;

display:none;

flex-direction:column;

border:1px solid #222;

min-width:120px;

}



.dropdown-content a{

padding:10px;

}



.dropdown:hover .dropdown-content{

display:flex;

}



/* HERO SECTION */

.hero{

display:flex;

justify-content:center;
align-items:flex-start;

gap:60px;

padding-top:140px;
padding-bottom:80px;

padding-left:40px;
padding-right:40px;

flex-wrap:wrap;

}



/* TEXT */

.hero-text{

max-width:500px;

line-height:1.7;

}



.hero-text h2{

margin-bottom:20px;

font-size:22px;

letter-spacing:2px;

}



/* VIDEO */

.hero-video{

margin-top:40
