/* RESET */

* {

margin: 0;
padding: 0;
box-sizing: border-box;

}



/* BODY */

body {

background-color: #D9D9D9;
color: #000;

font-family: Arial, Helvetica, sans-serif;

}



/* NAV BAR */

.nav {

position: fixed;

top: 0;
left: 0;

width: 100%;

background-color: #D9D9D9;

border-bottom: 1px solid rgba(0,0,0,0.15);

z-index: 1000;

}



.nav-container {

display: flex;

justify-content: space-between;
align-items: center;

padding: 18px 40px;

}



/* LOGO */

.logo-wrap img {

height: 42px;
width: auto;

display: block;

}



/* NAV LINKS */

.nav-links {

display: flex;

gap: 2
